de:
  baleipzig:
    evoconfig:
      maxGenerations: 3000
      deterministicRandomParentRatio: 0.9
      rankRandomRatioNaturalSelection: 0.5 #hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        numberOfGenes: 10
        lowerBound: -512
        upperBound: 511
        mutationRate: 0.5  # hier vielleicht für die werte 0.1, 0.3, 0.5
        mutationMaxLength: 5
      populationConfig:
        populationSize: 16
        childrenGenerationSize: 20
      tasksConfig:
        consideredGriewankDimensions:
          - 2
          #- 4
          #- 8
          - 16
          #- 32
        numberOfSamplingPoints: 10
        runsPerDataPoint: 10
        outputPath: D:\evoresults\
        strategy: constMutationMixedParentSelection # nach finden der besten parameterkonfiguration (s.o.) auch noch für diese für die ageBasedMutation
    example:
      exampleString: foo
      exampleBoolean: true
      exampleListWithStrings:
        - test1
        - test2
        - test3
      exampleListWithPojo:
        -
          name: foo
          info: fooInfo
        -
          name: foo2
          info: fooInfo2
      exampleMapWithPojo:
        entryOne:
          name: foo
          info: fooInfo
        entryTwo:
          name: foo2
          info: fooInfo2
      exampleMapWithString:
        entryOne: foo
        entryTwo: foo2
---
spring:
    profiles: constMutationMixedParentSelection
de:
  baleipzig:
    evoconfig:
      tasksConfig:
        strategy: constMutationMixedParentSelection
---
spring:
    profiles: ageBasedIncreasingMutationMixedParentSelection
de:
  baleipzig:
    evoconfig:
      tasksConfig:
        strategy: ageBasedIncreasingMutationMixedParentSelection
---
spring:
    profiles: ageBasedDecreasingMutationMixedParentSelection
de:
  baleipzig:
    evoconfig:
      tasksConfig:
        strategy: ageBasedDecreasingMutationMixedParentSelection
---
spring:
    profiles: eins
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.9 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.1  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: zwei
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.9 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.3  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: drei
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.9 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.5  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: vier
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.75 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.1  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: fuenf
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.75 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.3  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: sechs
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.75 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.5  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: sieben
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.5 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.1  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: acht
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.5 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.3  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: neun
de:
  baleipzig:
    evoconfig:
      rankRandomRatioNaturalSelection: 0.5 # hier vielleicht für die werte 0.9, 0.75, 0.5
      genomeConfig:
        mutationRate: 0.5  # hier vielleicht für die werte 0.1, 0.3, 0.5
---
spring:
    profiles: popEins
de:
  baleipzig:
    evoconfig:
      populationConfig:
        populationSize: 40
        childrenGenerationSize: 50
---
spring:
    profiles: popZwei
de:
  baleipzig:
    evoconfig:
      populationConfig:
        populationSize: 80
        childrenGenerationSize: 100
---
spring:
    profiles: popDrei
de:
  baleipzig:
    evoconfig:
      populationConfig:
        populationSize: 120
        childrenGenerationSize: 150