de:
  baleipzig:
    evoconfig:
      genomeConfig:
        numberOfGenes: 1
        lowerBound: -20
        upperBound: 20
      populationConfig:
        populationSize: 5
        intermediateGenerationSize: 10
    example:
      exampleString: foo
      exampleBoolean: true
      exampleListWithStrings:
        - test1
        - test2
        - test3
      exampleListWithPojo:
        -
          name: foo
          info: fooInfo
        -
          name: foo2
          info: fooInfo2
      exampleMapWithPojo:
        entryOne:
          name: foo
          info: fooInfo
        entryTwo:
          name: foo2
          info: fooInfo2
      exampleMapWithString:
        entryOne: foo
        entryTwo: foo2
