de:
  baleipzig:
    evoconfig:
      evolutionCycles: 1
      genomeConfig:
        numberOfGenes: 2
        lowerBound: -20
        upperBound: 20
        mutationRate: 0.01
        mutationMaxLength: 5
      populationConfig:
        populationSize: 5
        intermediateGenerationSize: 1
    example:
      exampleString: foo
      exampleBoolean: true
      exampleListWithStrings:
        - test1
        - test2
        - test3
      exampleListWithPojo:
        -
          name: foo
          info: fooInfo
        -
          name: foo2
          info: fooInfo2
      exampleMapWithPojo:
        entryOne:
          name: foo
          info: fooInfo
        entryTwo:
          name: foo2
          info: fooInfo2
      exampleMapWithString:
        entryOne: foo
        entryTwo: foo2
