de:
  baleipzig:
    evoconfig:
      maxGenerations: 3000
      deterministicRandomParentRatio: 0.9
      rankRandomRatioNaturalSelection: 0.9 #hier vielleicht f端r die werte 0.9, 0.75, 0.5
      genomeConfig:
        numberOfGenes: 10
        lowerBound: -512
        upperBound: 511
        mutationRate: 0.1  # hier vielleicht f端r die werte 0.1, 0.3, 0.5
        mutationMaxLength: 5
      populationConfig:
        populationSize: 16
        childrenGenerationSize: 20
      tasksConfig:
        consideredGriewankDimensions:
          - 2
          - 4
          - 8
          - 16
          - 32
        numberOfSamplingPoints: 20
        runsPerDataPoint: 20
        outputPath: /home/sonny/Dokumente/studium/EvoAlg
        strategy: constMutationMixedParentSelection # nach finden der besten parameterkonfiguration (s.o.) auch noch f端r diese f端r die ageBasedMutation
    example:
      exampleString: foo
      exampleBoolean: true
      exampleListWithStrings:
        - test1
        - test2
        - test3
      exampleListWithPojo:
        -
          name: foo
          info: fooInfo
        -
          name: foo2
          info: fooInfo2
      exampleMapWithPojo:
        entryOne:
          name: foo
          info: fooInfo
        entryTwo:
          name: foo2
          info: fooInfo2
      exampleMapWithString:
        entryOne: foo
        entryTwo: foo2